<div class="max-w-lg mx-auto mt-16 text-center max-w-sm">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <%=image_tag("logo.png")%>
    <div class="px-6 py-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field" >
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="field">
          <%= f.label :password, t(:password) %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%=t(:char_min) %>)</em>
          <% end %><br />
          <%= f.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, t(:confirm_password) %><br />
          <%= f.password_field :password_confirmation, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="px-6 pt-4 pb-2">
          <%= f.submit t(:sign_up), :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
