<div class="h-auto w-2/3 mx-auto mt-16 rounded overflow-hidden shadow-lg text-center">
  <div class="h-16 grid grid-cols-1 gap-4 bg-gray-400">
    <div class="p-5 text-center uppercase tracking-wide text-gray-700 text-lg font-bold">
      <%= t(:basic_info_choose_head) %>
    </div><!--TODO oh gosh, how about using I18n here anrails <script type="text/javascript" charset="utf-8"></script>d in other places? -->
  </div>
  <div class="grid h-72 grid-cols-2 gap-6 px-8 rounded">
    <%= simple_form_for @form, url: choose_hero_class_path, as: :initial_choices, method: :post do |f| %>
      <% if @form.errors.any? %><!--TODO in case of errors during validation, the attributes should be translated -->
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" id="error_explanation">
          <h2><%= pluralize(@form.errors.count, t(:error), plural: t(:plerror)) %>:</h2>
          <ul>
            <% @form.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="h-16 p-4  uppercase tracking-wide text-gray-700 text-lg font-bold ">
        <%= f.label :name, t(:name) %>
        <%= f.input_field :name, class: "shadow appearance-none border rounded w-full py-3 px-3" %>
      </div>
  </div>
  <div class="h-16">
    <%= f.button :submit, t(:save_and_continue), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"%>
    <button class="bg-red-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      <%= link_to t(:cancel), @hero, method: :delete, data: { confirm: t(:are_you_sure) } %>
    </button>
    <% end %>
  </div>
</div>
