<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
  <div class="max-w-lg mx-auto mt-16 text-center max-w-sm">
    <div class="max-w-lg rounded overflow-hidden shadow-lg">
      <%=image_tag("logo.png")%>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Welcome ! </div>
          <p class="text-gray-700 text-base">
            You are about to explore the custom character sheet creator.
            Just hit the button below and your journey will start.
          </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          <%= link_to 'Let`s get started'%>
        </button>
      </div>
    </div>
  </div>
<% else %>
  <div class="max-w-lg mx-auto mt-16 text-center max-w-sm">
    <div class="max-w-lg rounded overflow-hidden shadow-lg">
      <%=image_tag("logo.png")%>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Welcome ! </div>
          <p class="text-gray-700 text-base">
        You are only  one step away from getting access to this page.
        Please create an account and continue!
          </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          <%= link_to 'Sign up', new_user_registration_path %>
        </button>
      </div>
    </div>
  </div>
<% end %>
